/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* End reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, white, #c4eef2, #7AB8BF);
}

main {
    padding: 16px;
}

header {
    font-size: larger;
    border-bottom: 1px solid #025159
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

img {
    height: 200px
}

nav {
    padding: 16px;
    background-color: #7ab8bf;
    }

ol {
    padding-left: 48px;
}

li {
    margin-top: 4px;
    margin-bottom: 4px;
}

h1 {
    color: #348888
}

h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

footer {
    margin-top: auto;
    padding-left: 10px;
    font-size: 115%;
    background-color: #a67458;
    border-top: 1px solid #025159
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #025159
}

* {
    font-family: Roboto, sans-serif;
}

.tagline {
    font-style: italic;
}

tr:nth-child(even) {
    background-color: lightgrey
}

tr:nth-child(odd) {
    background-color: white
}
